{% extends 'base.html.twig' %}

{% block header_navigation_links %}
    <li>
        <a href="{{ path('articles_all') }}">
            <i class="fa fa-list-alt"></i> Liste articles
        </a>
    </li>
    <li>
        <a href="{{ path('articles_all') }}">
            <i class="fa fa-home"></i> Retour au blog
        </a>
    </li>
{% endblock %}
