a {
    color: #53b998;
}

.navbar-default, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover,
.navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: #53b998;
}

footer .row {
    display: flex;
    align-items: center;
}

footer .copyright p {
    color: initial;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

footer .logo,
footer .copyright {
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: flex-end;
}

small {
    display: inline-block;
    margin-bottom: 10px;
}