{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() ~ ' - Liste des articles' }}
{% endblock %}

{% block body_id 'articles_all' %}

{% block body %}
    {% for article in articles %}
        <article>
            <h2>
                <a>
                    {{ article.title }}
                </a>
            </h2>

            <p>
                {{ article.content }}
            </p>
        </article>

    {% else %}
        <div class="well">Il n'y a pas encore d'articles</div>
    {% endfor %}
{% endblock %}
