{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() ~ ' - Liste des articles' }}
{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 0 auto;
            max-width: 800px;
            width: 100%;
            font: 18px/1.5 sans-serif;
            text-align: center
        }

    </style>

<div class="example-wrapper">
    <h1>Liste des articles</h1>
    {% for article in articles %}
        <article>
            <h2>
{#                <a href="{{ path('blog_post', {'slug': article.slug}) }}">#}
                    {{ article.title }}
{#                </a>#}
            </h2>

            <p>
                {{ article.content }}
            </p>
        </article>

    {% else %}
        <div class="well">Il n'y a pas encore d'articles</div>
    {% endfor %}
</div>
{% endblock %}
